<%= form_with(model: secret, class: 'space-y-4') do |form| %>
  <% if secret.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded" role="alert">
      <h2 class="font-bold"><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>
      <ul class="mt-2">
        <% secret.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h3 class="text-gray-700 font-semibold">
      Posting as, <%= current_user.username %>
    </h3>
  </div>

  <div>
    <%= form.label :title, class: "block text-gray-700 font-semibold" %>
    <%= form.text_field :title, class: "w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200" %>
  </div>

  <div>
    <%= form.label :body, 'Description', class: "block text-gray-700 font-semibold" %>
    <%= form.text_area :body, class: "w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200" %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit "Submit Secret", class: "py-2 px-4 rounded-md bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 cursor-pointer" %>

  </div>
<% end %>