<div id="<%= dom_id secret %>" class="secret">
  <strong>
    <%= secret.title %>
  </strong>
  <% if user_signed_in? && secret.user != nil %>
    <p class="secret-username"><%= "Posted by, #{ secret.user.username }" %></p>
  <% else %>
    <p class="secret-username">****</p>
  <% end %>
  <p>
    <%= secret.created_at.strftime("%b %d, %Y, %l:%M %p") %>
  </p>
  <p>
    <%= secret.body %>
  </p>

</div>